# Pandas - Working with tabular data

In [2]:
import numpy as np
import pandas as pd

In [6]:
pokemons = {
    "HP": np.random.randint(1, 100, 5),
    "Height": np.random.randint(150, 250, 5),
    "Weight": np.random.randint(50, 200, 5)
}

In [9]:
df = pd.DataFrame(pokemons)
df.head()

   HP  Height  Weight
0  55     181      79
1  28     204     189
2  34     165      61
3  34     200     197
4  14     205     125

In [12]:
#Create a CSV file from the DataFrame
df.to_csv('pokemon_data.csv', index=False)

In [13]:
#Read the dataframe
df = pd.read_csv('pokemon_data.csv')
df.head()

   HP  Height  Weight
0  55     181      79
1  28     204     189
2  34     165      61
3  34     200     197
4  14     205     125